@model BackgammonR.WebUI.ViewModels.LoginViewModel

<div id="player-info">
    <h2>Join</h2>

    @using(Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "Login failed.");
            
        @Html.AntiForgeryToken()
        @Html.EditorForModel()    
            
        <input type="submit" value="Join" />
    }

</div>
