body { font-family: Tahoma; font-size: 90%; }

#container { width: 1240px;}

#player-info   { float: left; width: 240px; }
#board { float: left; width: 780px; margin-left: 10px; margin-right: 10px; }
#play { float: left; width: 200px; }


.dice { display: inline-block; width: 80px; height: 80px; background: url('/public/img/dice.png') }
.dice-1 {  }
.dice-2 { background-position: 161px 0; }
.dice-3 { background-position: 81px 0; }
.dice-4 { background-position: 0px 81px; }
.dice-5 { background-position: 161px 81px; }
.dice-6 { background-position: 81px 81px; }

.error { color: red; }
.error-flash { display: none; }

.message { color: green; }
.messager-flash { display: none; }

.hidden { display: none; }

.numbers { padding-left: 30px; display: none; }
.numbers li { display: inline; margin-right: 2px; }
.numbers li:nth-child(6) { margin-right: 60px; }
.numbers li span { display: inline-block; width: 18px; height: 20px; border: solid 1px #000; text-align: center; }
.numbers li span.bl { background-color: #000; color: #fff;  }
.numbers li span.wh { background-color: #fff; color: #000;  }

.field-validation-error { color: red; display: block; font-size: 11px; }
.field-validation-valid { display: none; }
.input-validation-error { border: 1px solid red; background-color: #ffeeee; }
.validation-summary-errors { font-weight: normal; color: red; }
.validation-summary-errors ul li { color: red; }
.validation-summary-valid { display: none; }

.dob-validation .field-validation-error { margin: 4px 0 0 0; }
.field-validation-error-label { color: red; }
.cbholder .field-validation-error { margin-top: 0px; }
