body { font-family: Tahoma; font-size: 90%; }

#game      { float: left; width: 720px; margin-left: 20px; }
#side-bar   { float: left; width: 300px; }

.error { color: red; }
.error-flash { display: none; }

.message { color: green; }
.messager-flash { display: none; }

.hidden { display: none; }

